<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block('title', 'My App') }}</title>
    {% block stylesheets %}
        {# Add your CSS assets here, e.g. via Webpack Encore #}
    {% endblock %}
</head>
<body>
{{ inertia(page) }}
{% block javascripts %}
    {# Add your JS assets here #}
{% endblock %}
</body>
</html>